%h1.giant.title Agile Tour Brussels 2013
.large.ribbon Presentations

%br/
%br/

%ul#speaker-list
  %li#bruno-sbille
    .bullet
    .name What's Agile ? Introduction to Agile methods
    %p
      Agile, Scrum, KanBan, eXtreme Programming, Lean Startup, DevOps: what is it all about ?
      Is Agile a methodology, a framework, a process or a set of values ?
      %br
      %br
      Where does it come from and how can Agile help me to fix my biggest problems ?
      Concretely if I want to implement Agile, what should I do ?
      %br
      %br
      If you want answers to these questions, come to this session.
      Moreover, you will understand the Agile vocabulary and choose wisely next sessions of the conference you want to attend.

  %li#ben-linders
    .bullet
    .name Doing Valuable Agile Retrospectives
    %p
      The agile manifesto proposes that a “team reflects on how to become more effective”. Agile retrospectives can be used to inspect and adapt the way of working. They help teams to deploy agile practices in an effective way and to continuously learn and improve themselves.But sometimes teams struggle to figure out what an agile retrospective is? And they wonder how they should do them? This presentation explains the “what” and “why” of retrospectives and the business value and benefits that they can bring. It shows several exercises from the book "Getting Value out of Agile Retrospectives" to help you to facilitate retrospectives, supported with advice for introducing and improving retrospectives. Retrospectives are a great way for teams to improve their way of working, to become more agile and lean. Getting actions out of a retrospective that are doable, and getting them done helps teams to learn and improve continuously.
  %li#wim-heemskerk
    .bullet
    .name Turn the Ship Around - Create Leadership at Every Level
    %p
      Organizational agility needs pro-active people. People that dare take initiative rather than do the minimum so as to avoid making mistakes. Does that seem a problem for your organisation because it needs its procedures and hierarchy badly, say for compliancy, or because your setting is just so darn complicated? What if I tell you the most empowered work environment - according to Stephen R. Covey - may well be found aboard a certain US nuclear submarine? This session is filled with the remarkable stories of that ships turn around. It will introduce you to the leader-leader model, a term coined by David Marquet to describe how he built leaders in an hierachical and strict setting with great responsibilities. Time to develop leaders, not followers.
  %li#domenico-musto
    .bullet
    .name Continuous delivery made possible
    %p
      The Agile Manifesto says "Our highest priority is to satisfy the customer through early and continuous delivery of valuable software." That's nice but..how do we actually do that ? What's the difference between continuous deployment and continuous integration ? What does that mean for the business ? How will this change the way we work and write code ? Build an environment which allows us to continuously deliver software in an automated fashion can be very hard, especially in a large fast growing company. In this session we will explore practices, techniques and tools we can use to set up a development process which enables automated deployment.
  %li#kris-philippaerts
    .bullet
    .name The multi-level feedback cycle
    %p
      For most Scrum and Agile adepts, Deming's PDCA cycle (or feedback cycles in general) are as common as a daily cup of coffee. It becomes a second nature for most of us: inspect and adapt, inspect and adapt, inspect and adapt... However, in reality these feedback cycles can be seen as multi-level communication flows with different types of information that cycle around in different cycles: - Vision and long-term goals - Short term functionalities - Planning and budget - Implementation processes and quality - Team dynamics In order to run your feedback cycles effectively, you must run your PDCA on all of these, from start to end, from P to A. In this session, we will take a deeper look how Scrum implements these cycles by matching them with the different Scrum Rituals and Artefacts. This way, we will identify where Scrum does and does not provide the necessary links to ensure a closed PDCA cycle on all levels. For the missing links, we will try to harvest ideas and practices to reinforce your Scrum implementation.
  %li#frederic-vandaele
    .bullet
    .name I believe I can draw
    %p
      During this session we set out to answer this question: Why don't we remember much of what we have seen, heard or experimented during conferences even after a week? Our theory is that most of us don't have a good note-taking technique, so we decide to invite you to an 1 hour sketchnoting bootcamp. During this session, we will pass through some basic principles of sketchnoting like shapes, lettering, framing, structure and process. At the end of the session, you will have your sketchnote canvas ready for the next sessions of the Agile Tour conference and the necessary skills to run your first experiment.
  %li#arik-azoulay
    .bullet
    .name Return of experience : Agility, Quality & Visual Thinking, Key Drivers Of Success
    %p
      Explain why we succeeded into giving a cinema company a strong competitive advantage in a chaos world by building a custom software suite with 3 drivers: Agility, Quality & Visual Thinking . How Scrum prevented us to lose a lot of time on useless "very important features", how visual thinking simplified complexity and how high quality enable them 1/ not ot go backward because there is no bug 2/ to go forward by being very creative with their business model.
  %li#jan-de-baere
    .bullet
    .name Scrum of Scrums: examples
    %p
      What to do if you have 5-10 agile teams that need to work together? How to make sure they are aligned? Do they work together just like that? Over the different technologies? Some real live examples If time permits: how to go beyond SoS's?
  %li#peter-moreno
    .bullet
    .name The wisdom of the Enneagram - Discover and Evolve your Personality Type
    %p
      What kind of personality do you have? How to evolve it? Why to invest time and energy on this soft-skill? The Enneagram is powerful tool for personal transformation and physiological growth. This map of human personalities will show us the box we live in when we are under stress and the way out of it. There are 9 personality types and when you discover YOURS, you open up a complete new pathway for evolution. On this session you will receive a synthesis of this multi-dimensional framework. Including practical techniques to evolve and growth. The Enneagram is a multi-dimensional framework. It is not flat or static, instead it dynamic as it is a clear reflection of the human physic movements. The information shared under this tool is based on many psychological investigations. It compresses a profound understanding of the human motivations, desires, fears and aspirations.
  %li#dajo-breddels
    .bullet
    .name The Product Owner Board Game
    %p
      Description The role of Product Owner is tough. You have to make a lot of hard decisions like: Do I spend today with the team or with my stakeholders? Do I focus at this moment on more Product Backlog refinement or updating the Product Vision and Roadmap? The Product Owner game is designed to experience these kinds of trade-offs and in showing the consequences of these choices. This game is not only intended for future Product Owners, but also for persons who need to know more about the daily tasks and challenges of a Product Owner like management and key-stakeholders. Join this session if you are a Product Owner and want more insight in the role of PO or if you are a Coach who wants to use this game to teach others about the Product Owner role. All attendees of this session will get a link so they can download the materials to create their own copy of the game for free, so you can play it when you’re back at the office.
  %li#xavier-quesada-allue
    .bullet
    .name Scrum in Industry (Scrum beyond Software series)
    %p
      How is Scrum being used in industrial settings? Take a tour of a car manufacturing plant in Belgium and a food processing factory in Spain to learn about what works and what doesn't in the return of Scrum to its roots.
  %li#patrick-steyaert
    .bullet
    .name Intrinsic agile coaching - Agile coaching without coaches
    %p
      Imagine you are an agile coach in a large organization and one of the teams you are working with has just pulled off a big delivery and you decide to celebrate the win. You invite coaches and members from other teams. While in the pub - after a couple of beers -, the team members spontaneously start to share experiences about their agile journey. You reflect upon this with the other coaches that are present. It is amazing how much the teams can learn from each other. Upon further reflection you notice how the stories you just heard also give you a lot of insight in how the teams actually work. More insight than the darn agile assessment tool that the external coach (or should I say consultant?) has been using to "assess" teams. The thought alone of an agile assessment tool gives you the shivers. Sure enough, quickly, all teams have started to score high on the assessment; they comply, but are they truly becoming more agile because of it? You have a dark feeling that it is quite the opposite. What if the role of the coach were to be redefined as a facilitator to the process of sharing experiences between teams, rather than the coach being the accumulator of all experience. What if you could gain insight in how teams work without the co-notation of "assessment" and "compliance". Wouldn't this be more empowering for the teams and more self-organizing? In this session, participants will explore a format to facilitate experience sharing between agile teams through story telling and narratives. By doing so • you will get an insight in the experiences of other participants, • create a context for your own experience and • learn how to structure the process of experience sharing. The way we will do this is by archetype construction. On the basis of stories of the participants about their agile team, we will look for archetypical agile teams. These archetypes are not persons but archetype teams with an archetypical agile implementation. This workshop is co-organized with Arno Korpershoek (arno@listen2change.eu).
  %li#jas-chong
    .bullet
    .name HR in Agile, Agile in HR
    %p
      The people aspects of an agile team and organisation is not to be forgotten. But what are the HR aspects in agile and how can we help HR to help in creating an agile team and organisation? Using a past experience as a case study on how to tackle the recruitment, development and organisation aspects of HR in agile and in return how to convert HR to be more agile in responding to these needs.
  %li#oana-juncu
    .bullet
    .name A voyage among our Cognitive Biases
    %p
      We have a natural will to get anything right and we are often wrong. Error is human and we all make mistakes all the time. And when we think we have learned from our errors , we might make another mistake…This talk proposes to scan a set of different cognitive biases that guide our day to day errors and give some tips to help understand the mechanisms of our cognitive inferential process leading us to eventually wrong decisions. This very interactive talk will walk you through a "backlog" of our most "used without awareness" cognitive biases. Come to this session, play, and observe the cognitive biases that make you act in a specific way. And get to know yourself and the other better to become mindful.
  %li#stephane-rondal
    .bullet
    .name Management is dead
    %p
      Management is dead, at least traditional management is. No need to tell you what’s wrong with traditional management, you’ve probably experienced it yourself. And the results are outrageous, be it at company level, team level, and individual level; downright from project failures to complete demotivation of the staff. Managers need to evolve, or they simply won’t survive if they don’t bring solutions to the above problems. From traditional management to … Agile management and leadership. You, as an experienced manager or as a wannabe/junior manager, are in a key position to change this. By attending this 60-minutes talk, you’ll (re-)discover proven and actionable techniques to improve your management skills, foster team productivity, and keep morale and motivation atop. Yes, success is that close ;-)
  %li#nick-oostvogels
    .bullet
    .name Using the Improvement Kata for retrospectives
    %p
      In this session, we will explore the Improvement Kata as a technique to facilitate better retrospectives. The Improvement Kata contains 4 steps which are a pattern for scientific thinking and acting, with structured practice routines. It is built on the idea that change requires practice, often started with small behavior patterns. Many teams struggle to implement retrospective actions successfully, leading to disillusion and questioning the benefit of the meeting. Or sometimes, these actions are contradictory, causing no long term progress. In this session, we will learn the theory behind the Improvement Kata and practice it by using exercises. It will help you to stimulate continuous improvement in your organization and give you tools to facilitate it.
  %li#mathias-verraes
    .bullet
    .name Small Controlled Experiments
    %p
      The project was of to a bad start: an inherited legacy codebase, a waterfall contract, and a projected loss. The promise of Kaizen or Continuous Improvement seemed very appealing. But when we tried to incorporate this into our process, it didn’t catch on. Biweekly retrospectives didn’t seem to expose any problems we could improve upon. The ceremonies we tried, like Deming’s Plan-Do-Check-Act cycles, added too much overhead. We were doing something wrong. Continuous Improvement implies that you know exactly where to focus your efforts. Like scientists, we started to experiment, without deciding upfront what we expected the outcome to be. The rules? Make every experiment as small as possible. No meetings, no consensus, no cumbersome evaluation process. We let the results speak for themselves. This talk explores the successes and failures of a team that went from survival mode to learning mode over the course of a year.
  %li#simon-jaillais
    .bullet
    .name Buy a game - Let's seriously Play!
    %p
      Buy games you are going to play! Come and play as much as possible! Your participation will impact the choice of the game to be played... you will have to buy them with other participants! In this session, everything will be organised with innovative and serious games! Games are increasingly valuable to help teams, to train teams and to think out of the box.
  %li#tiago-garcez
    .bullet
    .name How NOT to scale Agile - a Via Negativa perspective on the scaling challenge
    %p
      Scrum has gained wide acceptance as a framework for developing high-performance, collaborative and adaptive teams. So it should come as no surprise that organisations have been trying to adopt the same principles and practices at scale in order to reach the Agile utopia of a high-performing, collaborative and adaptive company. But scaling Agile has proven to be a challenge. This challenge has lead to the appearance in recent years of scaling frameworks such as SAFe, LeSS and DaD. We have also seen an exciting collaboration across disciplines, with market thinking and complexity science being invited into the conversation. This brought in frameworks such as Lean Startup, Design Thinking, Management 3.0 and Beyond Budgeting. Each introduced interesting concepts into the scaling conversation, yet, the scaling discussions continue. The root causes are many, ranging from cultural clash to technical and practical challenges, but the most prevalent thought across the minds of Agile coaches and Agile managers is that “nobody has really cracked the scaling Agile nut - there is no clear answer… yet.” Why is this so? Why are the discussions only getting louder instead of converging? In his book “Anti-Fragile”, Nassim Taleb re-introduced the concept of Via Negativa. Originally the term was used in theology, where it described a means of defining God by negation. The underlying assumption being that one could never actually describe God, but one could approach an understanding by defining what God is not. Similarly, Taleb uses the term to indicate the value of omission, arguing that avoidance (unlike addition) does not have risky side effects and unintended consequences. In this session, we will use the Via Negativa lens to look at the issue of scaling Agile, trying to get a better understanding of the topic by defining what is NOT Agile at scale. The key to the Via Negativa approach is that it requires a deep understanding of the principles at play. And it seems appropriate to apply it in a context where there is likely no clear-cut answer. Our reality is much too complex, with multiple variables in constant interplay, a situation only made more challenging by the increasing speed of innovation and creative destruction. We’re trying to solve a complex problem. In such an environment, understanding what an Agile organisation does NOT do is a key first step in creating a vision of how to scale Agile in a (unique) environment. That is the other key benefit of the Via Negativa perspective, it leaves room for people to introduce the challenges of their own work environment into the picture. Via Negativa doesn’t prescribe, it discovers. This session is divided into 2 parts: 1) Lecture, where the topic is clearly introduced and an initial list of how NOT to scale Agile in organisations is presented. We will delve into the principles and concepts at play, and a clearer picture will emerge of the reasons why so many organisations are hitting roadblocks when trying to scale Agile. Concepts such as projects, management, planning, organisational design, HR and metrics will be discussed, but always through the fresh perspective of the Via Negativa. 2) Discussion, where the participants will get an opportunity to digest the ideas presented and contextualise them in their own organisations. The result of the structured discussion will be a better understanding of the challenge of scaling Agile within your unique environment. Change agents and leaders interested in scaling Agile within their organisations will benefit from the insights and discussions of this workshop. Come with an open mind and be prepared to have some basic assumptions challenged.
  %li#xavier-warzee
    .bullet
    .name Soyez très performant et innovant grâce au désordre !
    %p
      Cette conférence passera en revue les étapes classiques d'amélioration continue issues du Lean, de l'Agile et les étapes modernes d'innovation proposées par le Lean Startup notamment. Nous verrons que nos organisations sont continuellement en recherche - d’amélioration afin d'être plus efficace et organisées pour optimiser leurs actions - et d’adaptation par innovations et réorganisations pour assurer leur pérennité Nous verrons que la tendance courante à simplifier et standardiser le fonctionnement de nos organisations, souvent par des processus (BPM, …) amène, certes, une réelle amélioration de son efficacité mais aussi un réel danger en termes de capacités à intégrer la diversité des situations business, ce qui est le lot de la plupart des secteurs à l’heure actuelle. Il s’en suit souvent des initiatives de plus en plus complexes et couteuses de développements de processus de plus en plus élaborés et difficiles à appliquer et contrôler. Souvent, ces initiatives aboutissent à des processus où certaines parties du business ne sont pas sous contrôle amenant un chaos coûteux et dangereux pour les organisations elles-même. Nous verrons comment, en faisant confiance aux différentes parties d’une organisation quant à leur fonctionnement, celle-ci devient beaucoup plus robuste et capable d’affronter des défis de plus en plus fréquents. Ainsi, le maintien d’un minimum de « désordre » dans les règles de fonctionnement d’une organisation par une répartition diffuse du contrôle. En fonction de la nature d’une organisation, startup, leader de marché établi, société en restructuration, …, certains types de fonctionnement s’imposent plus naturellement comme certaines approches agiles en fonction de la culture d’une organisation. Nous verrons aussi en conclusion pourquoi une organisation a intérêt à combiner différents stades de fonctionnement et alors d’employer l’approche agile la plus pertinente à chaque stade pour préserver ses capacités d’adaption et de renouvellement dans des situations inconnues, volatiles, complexes et ambiguës.
  %li#michel-grootjans
    .bullet
    .name The importance of code readability
    %p
      There are still a lot of myths about developers. Some see them as arcane wizards that can conjure spells, learned from ancient tomes, esoteric symbols flowing out of their fingertips. Why is it still a challenge to convince developers of the importance of code readability. “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” -Martin Fowler et al, Refactoring: Improving the Design of Existing Code, 1999 This session will NOT be about comparing different languages, although we'll see a few, both popular and less popular languages. Outline/timetable Introduction -- argumentum ad absurdum: An example of perfectly readable code for non-humans Why? -- Why is readable code important: Examples in the wild What? -- Is 'readable' context-free: What about documentation? Practices that help
  %li#andrea-darabos
    .bullet
    .name Changemakers (workshop - based on Management 3.0)
    %p
      Becoming a more lean and agile organization (via SCRUM, KANBAN, SAFe etc.) is a change that impacts every corner of the firm's social network and systems. This change is best managed if we look beyond lean and agile practices, and truly understand complex adaptive organizations. Changemakers is a game-based interactive workshop, during which we collect and discuss the best practices, stories of participants on leading change. We play a poker-like game while we discuss 4 different change models and experiences around them. The basis of the workshop is the book: "How to Change the World" by Jurgen Appelo - available in pdf for free. http://www.management30.com/product/how-to-change-the-world/
  %li#alexandre-boutin
    .bullet
    .name Game Cube
    %p
      Each person has a specific way to commit to something, and this funny game will make you realize all the different aspects of what we call "COMMITMENT" ... are you ready to try and commit to win ?
  %li#alan-hortz
    .bullet
    .name Agile, a cure for anxiety !
    %p
      Research shows that a huge number of people don't like or hate their job. Unfortunatly the same people spent the major part of their time with their collaborators, more than with their own family.
      Anxiety is the most visible sign of this unhappiness, but, some techniques coming from methodologies known to be Agile can be used to reduce this anxiety and can make it possible for an individual to take back the control over his professional life.
      It is, however, impossible to force people to adopt a different mindset or to behave differently, but, it is possible to create learning opportunities to encourage a positive change.
      This talk presents the lessons learned from the approach used within a company during its transition towards more agility and highlights concrete actions to increase the quality of your professional life as well as that of your coworkers.
  %li#gunther-verheyen
    .bullet
    .name Evidence-Based Management
    %p
      During the first decade of agile, its adoption has grown incredibly. But the dependence of businesses and society on software has increased even more. Software is eating the world. The survival and prosperity of many people and organizations depend on software. Complexity and unpredictability continue to increase. Yet, many organizations are stuck with old thinking like productivity, performance and blindly pushing more requirements out to the market. The focus of managing has not shifted to optimizing the VALUE that the software brings to the organization. The urgency to do so grows. The agile movement has left the act of managing largely unaddressed or -at least- under-focused. The agile values and spirit are more needed than ever, but it's time to include management in the empirical thinking. Gunther Verheyen directs the Professional Series at Scrum.org and is a partner of Ken Schwaber, Scrum co-creator. Gunther and Ken have developed a view on management in an agile context, "Evidence-Based Management" (EBM). EBM has its roots in medical practice and promotes evidence-based decision-making in the managerial domain of software. In his presentation Gunther will look at the state of agile through the lens of EBM, and introduce how to apply its principles in a context of software. If no evidence is collected on the value of software, informed management decisions to maximize it cannot be made. Software development deserves a professional way of managing, a way of managing that is more than mere intuition, opinion and position.
  %li#cliff-depreytere
    .bullet
    .name Discover the shortest path to the business goal
    %p
      Session about the combination of impact mapping and user story mapping. Using impact mapping to discover the shortest path towards the business goal mainly focussed on business analysts and product owners but a technique that fosters collaborarion and co-creation between "business owners" and "technical owner". Next to that it's a great visualization technique to communicate the big picture toward all the team members or different layers within an organisation. Having the Impact Map as a high level 'roadmap' is great but how does this result into a useable 'scopeable' DEEP Product Backlog ? That where User Story Mapping comes into play where the Impact Map delivers the backbone of the User Story Map and the walking skeleton is the journey to discover and find out the shortest path towards a product customers really love. DEEP (detailed appropriately , estimated , emerging , prioritised) Both techniques are great for workshop purposes but are definitely very suitable for linking the business goals to the product backlog items and are two types of techniques that are frequently used in backlog grooming sessions.
  %li#sophie-de-carriere
    .bullet
    .name Agile in fixed price, fixed scope and fixed date
    %p
      If you are like us, you like agile methods but you are working in a fixed price project with predefined scope and target date… Not cool… But not so bad neither. In this session, we will share what we tried to adapt our approach to the context. We will discuss what agile practice we could apply, and what we didn’t manage to do.
  %li#pierre-e-neis
    .bullet
    .name My Product is a James Bond Movie: "James wants to be a N'aavi" ... closing the roadshow loop
    %p
      I launched the "James Bond Movie" roadshow last year at Agile Tour Brussels and after 7 iterations, I will close it with "James wants to be a N'aavi", here where the concept was born. Pushing the movie metaphor to unbelievable limits, I pushed James Bond in "Avatar" and try to figure out how this pattern helps to transition for change. Ready for that?
  %li#martin-van-aken
    .bullet
    .name Agile Writing
    %p
      When talking about Agile, most of us think about software development: Sprints leads to release, User Stories define features, and demo means showing software. I've had the chance those last month to be in contact with two different teams of writers (technical writers and economists) which started applying Agile techniques - sometime actually discovering them by themselves. Those experiences give a much broader view of the audiences that the Agile methodologies can help, while keeping true to their core: delivering value to the customers.
  %li#vijayanand-nagaraj      
    .bullet
    .name Are you Really Agile - "An Agility Evaluation"
    %p
      A large number of projects have started adopting Agile methods. Most of the projects struggle to implement Agile practices in the right form and spirit to derive benefits and demonstrate success. Hence felt the need to introduce an evaluation mechanism which will assess the current level of maturity of the Agile Teams - which we called it as "Agility Assessment". The “Agility Assessment” - helps projects to assess the effectiveness of existing Agile practices and it is a quick evaluation of the Agile transformation to, - Determine how well the Agile methodologies have been deployed - Evaluate the extent of their “Agility” and maturity of agile practices - Provide guidance to take concrete steps to reap higher benefits of agile. - Develop strategies to extend the benefits of Agile-based methodologies across the organization.  The Agility Evaluation explores different dimensions like - Agile Adoption - Agile Culture - Agile Principles - Iteration Practices - Testing Practices - Engineering Practices
  %li#patrice-willemot
    .bullet
    .name Celebrating 1 year of Collaboration Driven Development (CDD)
    %p
      If a developer takes the time to write and run unit test cases for his code, his goal is to deliver a better product. So you can ask yourself why we still need testers if all developers are doing unit testing. Because there is no way that a developer is able to come up with all of the test cases to verify when his code will fail. Developers are too attached to their code, and it is emotionally not possible to test the application for bugs. A solution for this problem is the concept of TDD (Test Driven Development) where you get something working now and perfect this later. So why should testers care about TDD? Mainly because of the main activity within TDD: the creation of a unit test case before writing any ‘production’ code. Like stated before the developer will need some help to come up with decent test cases and this will result in a closer and better collaboration between a tester and a developer. A new concept has been born namely Collaboration Driven Development (CDD). In CDD the tester will help the developer during the creation of their unit tests (with standard checklist or with a test condition brainstorm session) and the developers can help the tester understand the application more in detail. I as a tester, I cringe when I see the crappy code has been shipped before toward the test and the production environment. Nowadays this crappy code is disappearing from the application and when a bug is reported by the testers we all know that is a good bug and not a bug which will go into the bug ping pong lifecycle. So this presentation will cover the concept of CDD together with the benefits and the disadvantages of this approach in order to show that when a developer take the necessary time to test his code with unit test cases it doesn’t mean that a better product is created.

- if false    

  %li#pascal-van-cauwenberghe
    .bullet
    .name Real Options: learn when and how (not) to decide - Pascal Van Cauwenberghe
    %p
      Projects and product development is one long series of difficult decisions. We'd like to take the right decision at the right time. Right?
      %br
      %br
      How do we come to the right decision at the right time? I have no idea.
      %br
      %br
      I do have a bunch of techniques that are useful to come to the best possible decision before it's too late. I'll tell you stories of how we used Real Options, set-based design and the creative process to make surprisingly good architectural decisions under difficult circumstances.
      %br
      %br
      Maybe you'll reconsider how and when you make architectural and other decisions next time you're faced with a difficult situation in work or life.
    %ul
      %li
        %a{ href: 'http://www.agilecoach.net/coach-tools/real-options/' } Presentation materials


  %li#christophe-addinquy
    .bullet
    .name Easy to use correctly and hard to use incorrectly - Christophe Addinquy
    %p
      We are all seeking for good advices, recipes and rules of thumbs to make our designs better, our requirements strong and accurates, our user interfaces outstanding and more and more...
      %br
      %br
      But there are as many set of rules or advices as there are gurus. And as smart as they are, their rules are only good advices, not final weapons usable in each and every situation. It's because there is no final weapon. Human mind can't be replaced and will not be.
      %br
      %br
      Then I crossed Scott Meyer advice. Amazingly it helped me to challenge my ideas in programming, design, user interfaces, even in the way I can mitigate user stories or make iteration priorities !
      %br
      %br
      Agile teams are targeting excellence. Code, design and functionalities are not here forever : they are reused, refactored, improved or changed. We want functionalities delighting our customers and be handled without questions. This sessions will help you make a step in this direction by illustrating what it means to build things easy to use correctly and hard to use incorrectly. We will see that successively with code, design structures, requirements, user interfaces and even agile practices !
      %br
      %br
      You will be invited to juge the examples against Scott Meyer's principle and sometime to improve them and make them better.
    %ul
      %li
        %a{ href: 'http://fr.slideshare.net/addinquy/easy-to-use-correctly-hard-to-use-incorrectly' } Presentation materials
      %li
        %a{ href: ' http://www.flickr.com/photos/addinquy/sets/72157636209680326/' } Some more photos by Christophe Addinquy (Thank you Christophe!)





  %li#stephane-rondal
    .bullet
    .name Lessons learned from scaling Agile to distributed, offshore teams - Stephane Rondal
    %p
      Driving a software project to success is notoriously hard, be it using an Agile methodology or not. Add offshore distributed teams to the picture, and it gets... even harder. Obviously, communication does not get any smoother, while cultural differences start acting as barriers.
      %br
      %br
      By attending this talk, you will learn about some of the problems different teams encountered on such projects, and what was done to overcome them. Though there are no silver bullets, the goal of this presentation is to open your eyes, inspire you new ideas, leading to better resolutions.
      %br
      %br
      We’ll address topics such as cross-team synchronization, slippery iteration plans, “It’s not our fault, it’s theirs!”, cultural diversity/sensibility, …
      %br
      %br
      These solutions were indeed crafted given the particularities of the project at hand, within its specific context. Your case is different, for sure, but hopefully you'll be able to spot some patterns, and shed new lights in order to overcome your own challenges.


  %li#yves-hanoulle
    .bullet
    .name Everything you wanted to know about PairProgramming, but were afraid to ask.... - Yves Hanoulle
    %p
      During this one hour we'll go over advantages and disadvantages of PairProgramming.
      This talk will using a Training from the back of the room style.
      Although we will show research numbers, it will be all about the stories in the room.
      We'll also bring our own war stories.
    %ul
      %li
        %a{ href: 'http://www.slideshare.net/YvesHanoulle/pair-programming-is-like-sex' } Presentation materials





  %li#hans-smorenburg
    .bullet
    .name The Road to Lean Success - Hans Smorenburg
    %p
      During the session the audience will get an introduction into Lean IT principles and the different dimensions important to Lean IT. Based on this, we will introduce a model and method to assess the organisational readiness (strengths and weaknesses)  to become Lean. Finally the session will point to some of the key elements on the road to success

  %li#domenico-musto
    .bullet
    .name Event Driven Architecture in practice - Domenico Musto
    %p
      We don't want to have a huge block of code impossible to maintains and extend.
      We want to break up the monolithic application into smaller isolated services which are
      easy to extend and deploy..after all we want to be agile!
      Let's see how Event Driven Architecture can help us to have a more scalable application and
      services use messaging to communicate.

      The objectives of the session:
      \- overview of an event driven architecture
      \- advantages
      \- disadvantages
      \- communication patterns

  %li#steven-peeters
    .bullet
    .name Applying Lean Thinking to software development - Steven Peeters
    %p
      Lean has been around for a very long time in the manufacturing industry. But in the last couple of years it has been gaining momentum in the service industry as well. In this session you&#39;ll discover how to apply these manufacturing principles (rhythm wheels, reducing waste and setup time etc.) to a software environment, so the IT department can reap the benefits of Lean Thinking as well and you can get your development cycle lean and mean.


  %li#yannick-ameur
    .bullet
    .name RH Team Workshop - Recruter Agile - Yanick Ameur
    %p
      The workshop will be the opportunity for you to be trained for your future Agile job interview either as a recuiter or as a job applicant.

      The first aim of this workshop is to demonstrate that a self-organized team is able to select the best teammates, as such, you will learn how to recruit the best talents.

      You can see my post here: http://yannick.ameur.free.fr/dotclear/index.php?post/2013/02/15/Recruter-une-equipe-Agile

  %li#luca-minudel
    .bullet
    .name Agility: the scientific definition of how to be(come) Agile - Luca Minudel
    %p
      Many do Lean and Agile. Few become Agile. This talk presents a scientific definition of Agility, the related skill-set and the contexts where Agility is an advantage. All this enables you, your team and your organization to decide when and to know how to go from doing Agile to being Agile.
    %p
      After the 30' talk, the remaining 30' will be dedicated to discussions with attendees.
    %p Reading list:
    %ol
      %li The Agility Advantage: A Survival Guide For Complex Enterprises and Endeavors; David Alberts; 2011
      %li Power to the Edge: Command...Control...in the Information Age; David Alberts and Richard Hayes; 2003
      %li On Understanding Software Agility - A Social Complexity Point Of View; Joseph Pelrine; 2011
      %li A leader’s framework for decision making; David Snowden and Mary Boone; 2007
    %ul
      %li
        %a{ href: 'https://github.com/lucaminudel/FromDoingLeanAgileToBeingLeanAgile/blob/master/README.md' } Presentation materials





  %li#pierrick-revol
    .bullet
    .name 4 steps to co-create the right product, let's talk about Lean Design - Pierrick Revol
    %p
      « There is nothing quite so useless, as doing with great efficiency, something that should not be done at all. » (Peter Drucker). The first Agile principle talks about a value driven approach. But do we really create the right product ? During this session, you will discover what we are deploying at the scale of a big company : Practices in order to boost your innovation directly by Monday.


  %li#jurgen-de-smet
    .bullet
    .name Perfect Problem Breakthrough - Jurgen De Smet and Erik Talboom
    %p
      In this session you’ll get insights on how to use Christopher Avery’s Responsibility Process in the context of handling problems and thus change. We will explain you the 3 key’s to responsibility and how to gain control/power of the situations at hand.
      %br
      %br
      We will use learning from the Leadership Gift program we are following with Christopher Avery and provide insights related to the Responsibility Process, Keys to Responsibility and the Power or Control Cycles. We will give you some very powerful tools and techniques that will change your world.
      %br
      %br
      All of this requires your input, interaction and insights. So... do not expect a lot of slides here, we'll have some co-learning fun together!

  %li#sebastien-arbogast
    .bullet
    .name Lean Startup for Developers: You Can Do It Too! - Sébastien Arbogast
    %p
      A lot of software developers work as consultants or as employees for big companies. And sometimes, especially when you're an agile practitioner, it can be very frustrating to fight all this bureaucracy and talk some sense into those layers and layers of Excel-mastering managers. We've all thought it at some point: if I had my own company, I would do better. Then why don't you? Is it because you believe it takes an MBA to build your own company? Is it because you're waiting for this million-dollar idea that will make you rich and allow you to quit your job overnight? Well, this conference won't push you in a direction you don't want to go, but its goal is to give you just the right nudge to move forward. Because that's what Lean Startup techniques did to me 3 years ago. And this presentation will show you some of the tools I've been using, as well as some of the things that I've learnt by experience.

  %li#laurent-grumiaux
    .bullet
    .name Our Agile Approach to Game Development - Laurent Grumiaux and Pierre Guerand
    %p
      We will show you and teach you the importance of customizing your Agile project follow up depending on your team size, product, team and technical difficulties. We will show you how to integrate Artistic development in you Agile approach and how to make this big mix work with real life examples and by sharing our experiences with you.


  %li#pierre-e-neis
    .bullet
    .name My Product is a James Bond Movie! - Pierre E. Neis
    %p
      I don&#39;t want a product. I want THE PRODUCT. I want that my product looks like a James Bond Movie to my users! Agile is built around first class engineering practices, quality, testing. That works well, since years. Helps or User Stories, we know that our development needs to fit to customer&#39;s expectations. That&#39;s fine! What happens when you need to delight multiple users? each time? You have the story for the user, for the persona. But, does this kick someone off? I will send my Product Owners to MGM so that our Product, our Release Plan looks like a James Bond movie so that my customer became sooooooo delighted that &ldquo;Skyfall&rdquo;.
    %ul
      %li
        %a{ href: 'http://www.slideshare.net/PierreNeis/my-product-is-a-james-bond-movie' } Presentation materials





  %li#alexis-monville
    .bullet
    .name The Agile and Open Source Way - Alexis Monville
    %p
      The Agile and Open Source Way is the conference for everyone who wants to scale agile in multiple distributed teams. This session will also help you to collaborate upstream with Open Source projects.
      %br
      %br
      Whether you want to improve interactions with other teams inside or outside your company, or just interested in scaling from more than one team, you will find in this session the information you need, illustrated by a real case.
    %ul
      %li
        %a{ href: 'http://www.the-agile-and-open-source-way.com/2013/09/29/agiletour-brussels/' } Presentation materials





  %li#maurizio-pedriale
    .bullet
    .name Cynefin Lego Game - Alan Hortz and Maurizio Pedriale
    %p
      From: http://www.agile42.com/en/blog/2011/12/25/cynefin-lego-game/
      %br
      %br
      Using Lego, you go through four exercises where the problem to solve and the context you work in is designed to create a simple, complicated, complex and chaotic system. While it does not introduce you to the full potential of the sense-making framework, it is well suited to get a first impression and raise interest in learning more about it! Although Cynefin is at the heart of this excercise, the debriefing focuses on outcome that is not necessarily part of the model.
      %br
      %br
      Why You’d Use It
      %br
      %br
      When leading or managing agile transitions, it is important to know what type of system you are dealing with. Playing this game shows you how to decode what is happening in terms of organisational structures and communication in that specific system. Once you are able to do this, you can appreciate the consistency of your communication style with the related system, as well as choose more appropriate tools to set direction and coach.


  %li#jake-benilov
    .bullet
    .name 7 types of feedback that helped make GOV.UK a success - Jake Benilov
    %p
      The UK government does not have a good history of IT delivery. The Government Digital Service (GDS), a new "startup" team within Cabinet Office, has been bucking this trend by successfully delivering GOV.UK, the UK's single government domain, using open source tech and agile development.
      %br
      %br
      My talk will focus on 7 innovative feedback techniques that the GDS team uses to improve their daily work.
    %ul
      %li
        %a{ href: 'https://slid.es/jakebenilov/7-types-of-feedback-govuk' } Presentation materials





  %li#peter-duelen
    .bullet
    .name The scrum board mystery files: To post-it or not to post-it - Peter Duelen
    %p
      Everyone who has walked past a scrum board has noticed them: “Please Test” post-its.  They seem a normal part of our daily way of working. But are they really?  Are we not, agile or not, still confronted with the evils of perceived quality and having to test in part of our quality in the end?
      %br
      %br
      There are a lot of testing issues we constantly grind through to get rid of these hidden assumptions, to prove our work is invaluable to the team.  And it’s never as easy as moving a post-it from left to right.
      %br
      %br
      But why do we limit ourselves to using this 1 note when we have the perfect visualization tool, the scrum board; at our disposal.  It can do a lot; I just think we’re not using it to its full potential.  Over the past years, I’ve learned 2 important lessons on creating a common ground for testing when using the scrum board :
      • What you don’t know, is what you don’t get.
      and
      • What you don’t see is what you don’t get.
      %br
      %br
      Teams have a lot of information and ideas about visualization and what to show when but as Gojko Adzic already stated in his blog “If it were easy we’d all be doing it already”.  So how can we pinpoint bottlenecks, bug clusters, structural issues, … and make sure we can put out some work fixing them ?
      %br
      %br
      The scrum board mystery files shows the outcome from a series of testing experiments in agile with regards to getting feedback from teams and managers and improving our way of working in current and new projects.



  %li#luc-taesch
    .bullet
    .name The Sound of Silence - Luc Taesch
    %p
      Is understanding important in life ? is listening important for understanding ? can you  listen (anybody), still,  with empathy, or do you sometimes have difficulty to listen somebody with a different opinion ? does it sometimes raises (conflicting) emotions ?  what is the strategy then ? do you feel compelled to speak and cut the speaker, or violently control and suppress this voice in your head ? But then,  when is this voice coming again and again to haunt you, with great creative ideas , can you listen to it , fully ?
      %br
      %br
      The sound of silence is a series of practical techniques to listen to each other, with a clear mind and an open heart, and listen to oneself, truly.
    %ul
      %li
        %a{ href: ' http://prezi.com/ffm0qcscaxff/soundofsilencews/' } Presentation materials





  %li#jan-de-baere
    .bullet
    .name  A War Story of the Rise and Fall of an "Agile" Company - Jan De Baere
    %p
      The director of our IT consultancy company decided to drastically change the culture of our company. The command and control style didn’t make sense anymore for him. Together with a change agent he took the whole company on a journey towards an Agile culture. We changed our way of working, the recruitment process, the appraisal system… The journey was bumpy and we had forces fighting us from the inside and the outside. We learned, had fun and a lot of energy but the day came…
      %br
      %br
      Build up during 8 years and destroyed in one day.
      %br
      %br
      What happened? What tools did we use? Lessons learned?


  %li#frederic-vandaele
    .bullet
    .name Kickstart your Product Backlog with Innovation Games - Frederic Vandaele
    %p
      How to start your Scrum project? How to initialize your product backlog? You are not alone, in most agile projects, managing the product backlog remains a complex and difficult activity.
      %br
      %br
      Scrum said that it's the Product Owner that manage the product backlog but it does not tell us how (It's a framework you know). However, the product owners are people from the business. They have little or no experience with Agile and what it means in term of contribution to the project.
      %br
      %br
      How to involve a group of users in the creation of product backlog without that they feel cheated or ignored? How to prioritize dozens or even hundreds of user stories of varying sizes with a group of users representing different needs with conflicting interests?
      %br
      %br
      The Innovation Games are techniques that can address these issues. The art is to combine these methods with a view to a common vision to emerge as an initial product backlog that will help the Scrum team to start the project on a solid foundation.
    %ul
      %li
        %a{ href: 'http://www.slideshare.net/frederic.vandaele/fred-pbl-innovgames-en-v5-972003-26688212' } Presentation materials




  %li#joanne-ho
    .bullet
    .name Agile Methodologies For Research and Discovery - Joanne Ho
    %p
      This presentation is a short overview of how Agile can be used beyond building products, into the space of research and discovery, where the "product" is to create new knowledge.  While Scrum offers a great framework for product development where requirements and user stories can be clearly defined, research and discovery cannot enjoy the same clarity from user storie.
      %br
      %br
      By nature of venturing into unknown territory, cycle time needs to be reduced to as short as 4 hours.  Scrum, Kanban, Continuous Improvement, Lean, and pairing offers valuable tools and frameworks as well as mental and emotional stability and team solidarity for researchers to bravely venture where no man has gone before.
      %br
      %br
      This talk is an introduction to contents in a forthcoming book found at <a href="https://leanpub.com/academic-research/">https://leanpub.com/academic-research/</a>

  %li#lahcen-afif
    .bullet
    .name SCRUM expliqué aux enfants - Lahcen Afif
    %p
      Et si nous pouvions appliquer les principes agiles pour aider nos enfants dans leurs études ? Lors de cette conférence, nous vous expliquerons une application, simple mais efficace, de ces principes dans le cadre de l'organisation d'une année scolaire et des examens. Planification, évaluation, Visual Management, rétrospective, amélioration continue, ... tout y passe pour le plus grand plaisir des enfants et surtout ... des parents !

  %li#guillaume-duquesnay
    .bullet
    .name Managing without authority : lessons learnt as a dungeon master - Guillaume Duquesnay
    %p
      I'm playing Dungeons and Dragons with a pack of friends every one or two month. My role-play experience is nearly 20 years long, much longer than my 10+ years of professional experience. I think some of my best management, facilitation and leadership lessons come from game mastery more than from work.
      %br
      %br
      As a dungeon master, you simply try to have your friends playing an inspiring adventure. No boss, no money involved, just a common goal : enjoy every bit of it.
      %br
      %br
      So where's the deal ?
      %br
      %br
      Well, give your players swords, spells, and treasures, and you'll have to deal with nasty behaviors, cheaters, impulsiveness, selfishness, and even bullies. Your challenge : have your smart, fun, educated friends back on the table, as to play together the best adventure they never played.
      %br
      %br
      My purpose is to share what I learned regarding leadership, facilitation and management while no authority was involved. As a quick pick, you'll hear about leadership/ followership, pair management, delegation, facilitation, loosing control, improvising, involving and enrolling (and even a bit of lean !).


  %li#damien-thouvenin
    .bullet
    .name 1+9 visual management tools - Damien Thouvenin
    %p
      One of the (many) major impact that Scrum had on the agile movement was to bring in Visual Management (the famous "information radiator"). The ScrumBoard derivates from the Lean "kanban" but Visual Management should not be limited to this only tool.
      %br
      %br
      Plan, Track, Check, Decide, Allocate, Explain ... can all these activities be empowered with Visual Tools? YES !
      %br
      %br
      In this short session we will explore 9 other visual tools to work more efficiently. Of course, we will also briefly talk about the Kanban/ScrumBoard which, with little changes, can be much improved.
    %ul
      %li
        %a{ href: 'http://fr.slideshare.net/cltservices/at-bru-2013-91-visual-management-tools' } Presentation materials



