%h1.giant.title Agile Tour Brussels 2013
.large.ribbon Presentations

%br/
%br/

%ul#speaker-list
  %li#tiago-garcez
    .bullet
    .name Why Agile ? - Tiago Garcez
    %p
      I frequently get asked the question of whether I would "recommend Scrum in every situation?"  The answer there is easy ("no"), but it's really the wrong question.  The interesting question is "would you recommend Agile in every situation?"  And the answer there is also easy ("yes"), but the reasons for that answer are, sadly, often mis-understood or mis-represented.
      %br
      %br
      In this talk, I will expand on this topic and discuss:
      \- reasons why Agile is better suited than the alternatives to answer the key challenges companies are facing in the knowledge economy
      \- the essence of Agile (what is its minimum expression?)
      \- how Agile would work (and is working) in other industries
      \- ideas for starting your Agile transition or re-thinking / improving your current one
      %br
      %br
      The talk will include examples from previous coaching assignments, as well as some case studies from interesting companies who are stretching the boundaries of Agile.


  %li#pascal-van-cauwenberghe
    .bullet
    .name Real Options: learn when and how (not) to decide - Pascal Van Cauwenberghe
    %p
      Projects and product development is one long series of difficult decisions. We'd like to take the right decision at the right time. Right?
      %br
      %br
      How do we come to the right decision at the right time? I have no idea.
      %br
      %br
      I do have a bunch of techniques that are useful to come to the best possible decision before it's too late. I'll tell you stories of how we used Real Options, set-based design and the creative process to make surprisingly good architectural decisions under difficult circumstances.
      %br
      %br
      Maybe you'll reconsider how and when you make architectural and other decisions next time you're faced with a difficult situation in work or life.


  %li#christophe-addinquy
    .bullet
    .name Easy to use correctly and hard to use incorrectly - Christophe Addinquy
    %p
      We are all seeking for good advices, recipes and rules of thumbs to make our designs better, our requirements strong and accurates, our user interfaces outstanding and more and more...
      %br
      %br
      But there are as many set of rules or advices as there are gurus. And as smart as they are, their rules are only good advices, not final weapons usable in each and every situation. It's because there is no final weapon. Human mind can't be replaced and will not be.
      %br
      %br
      Then I crossed Scott Meyer advice. Amazingly it helped me to challenge my ideas in programming, design, user interfaces, even in the way I can mitigate user stories or make iteration priorities !
      %br
      %br
      Agile teams are targeting excellence. Code, design and functionalities are not here forever : they are reused, refactored, improved or changed. We want functionalities delighting our customers and be handled without questions. This sessions will help you make a step in this direction by illustrating what it means to build things easy to use correctly and hard to use incorrectly. We will see that successively with code, design structures, requirements, user interfaces and even agile practices !
      %br
      %br
      You will be invited to juge the examples against Scott Meyer's principle and sometime to improve them and make them better.


  %li#stephane-rondal
    .bullet
    .name Lessons learned from scaling Agile to distributed, offshore teams - Stephane Rondal
    %p
      Driving a software project to success is notoriously hard, be it using an Agile methodology or not. Add offshore distributed teams to the picture, and it gets... even harder. Obviously, communication does not get any smoother, while cultural differences start acting as barriers.
      %br
      %br
      By attending this talk, you will learn about some of the problems different teams encountered on such projects, and what was done to overcome them. Though there are no silver bullets, the goal of this presentation is to open your eyes, inspire you new ideas, leading to better resolutions.
      %br
      %br
      We’ll address topics such as cross-team synchronization, slippery iteration plans, “It’s not our fault, it’s theirs!”, cultural diversity/sensibility, …
      %br
      %br
      These solutions were indeed crafted given the particularities of the project at hand, within its specific context. Your case is different, for sure, but hopefully you'll be able to spot some patterns, and shed new lights in order to overcome your own challenges.


  %li#yves-hanoulle
    .bullet
    .name Everything you wanted to know about PairProgramming, but were afraid to ask.... - Yves Hanoulle
    %p
      During this one hour we'll go over advantages and disadvantages of PairProgramming.
      This talk will using a Training from the back of the room style.
      Although we will show research numbers, it will be all about the stories in the room.
      We'll also bring our own war stories.


  %li#eddy-pauwels
    .bullet
    .name The Road to Lean Success - Eddy Pauwels
    %p
      During the session the audience will get an introduction into Lean IT principles and the different dimensions important to Lean IT. Based on this, we will introduce a model and method to assess the organisational readiness (strengths and weaknesses)  to become Lean. Finally the session will point to some of the key elements on the road to success

  %li#domenico-musto
    .bullet
    .name Event Driven Architecture in practice - Domenico Musto
    %p
      We don't want to have a huge block of code impossible to maintains and extend.
      We want to break up the monolithic application into smaller isolated services which are
      easy to extend and deploy..after all we want to be agile!
      Let's see how Event Driven Architecture can help us to have a more scalable application and
      services use messaging to communicate.

      The objectives of the session:
      \- overview of an event driven architecture
      \- advantages
      \- disadvantages
      \- communication patterns

  %li#steven-peeters
    .bullet
    .name Applying Lean Thinking to software development - Steven Peeters
    %p
      Lean has been around for a very long time in the manufacturing industry. But in the last couple of years it has been gaining momentum in the service industry as well. In this session you&#39;ll discover how to apply these manufacturing principles (rhythm wheels, reducing waste and setup time etc.) to a software environment, so the IT department can reap the benefits of Lean Thinking as well and you can get your development cycle lean and mean.


  %li#yannick-ameur
    .bullet
    .name RH Team Workshop - Recruter Agile - Yanick Ameur
    %p
      The workshop will be the opportunity for you to be trained for your future Agile job interview either as a recuiter or as a job applicant.

      The first aim of this workshop is to demonstrate that a self-organized team is able to select the best teammates, as such, you will learn how to recruit the best talents.

      You can see my post here: http://yannick.ameur.free.fr/dotclear/index.php?post/2013/02/15/Recruter-une-equipe-Agile

  %li#luca-minudel
    .bullet
    .name Agility: the scientific definition of how to be(come) Agile - Luca Minudel
    %p
      Many do Lean and Agile. Few become Agile. This talk presents a scientific definition of Agility, the related skill-set and the contexts where Agility is an advantage. All this enables you, your team and your organization to decide when and to know how to go from doing Agile to being Agile.
    %p
      After the 30' talk, the remaining 30' will be dedicated to discussions with attendees.
    %p Reading list:
    %ol
      %li The Agility Advantage: A Survival Guide For Complex Enterprises and Endeavors; David Alberts; 2011
      %li Power to the Edge: Command...Control...in the Information Age; David Alberts and Richard Hayes; 2003
      %li On Understanding Software Agility - A Social Complexity Point Of View; Joseph Pelrine; 2011
      %li A leader’s framework for decision making; David Snowden and Mary Boone; 2007
  %li#pierrick-revol
    .bullet
    .name 4 steps to co-create the right product, let's talk about Lean Design - Pierrick Revol
    %p
      « There is nothing quite so useless, as doing with great efficiency, something that should not be done at all. » (Peter Drucker). The first Agile principle talks about a value driven approach. But do we really create the right product ? During this session, you will discover what we are deploying at the scale of a big company : Practices in order to boost your innovation directly by Monday.


  %li#jurgen-de-smet
    .bullet
    .name Perfect Problem Breakthrough - Jurgen De Smet and Erik Talboom
    %p
      In this session you’ll get insights on how to use Christopher Avery’s Responsibility Process in the context of handling problems and thus change. We will explain you the 3 key’s to responsibility and how to gain control/power of the situations at hand.
      %br
      %br
      We will use learning from the Leadership Gift program we are following with Christopher Avery and provide insights related to the Responsibility Process, Keys to Responsibility and the Power or Control Cycles. We will give you some very powerful tools and techniques that will change your world.
      %br
      %br
      All of this requires your input, interaction and insights. So... do not expect a lot of slides here, we'll have some co-learning fun together!

  %li#sebastien-arbogast
    .bullet
    .name Lean Startup for Developers: You Can Do It Too! - Sébastien Arbogast
    %p
      A lot of software developers work as consultants or as employees for big companies. And sometimes, especially when you're an agile practitioner, it can be very frustrating to fight all this bureaucracy and talk some sense into those layers and layers of Excel-mastering managers. We've all thought it at some point: if I had my own company, I would do better. Then why don't you? Is it because you believe it takes an MBA to build your own company? Is it because you're waiting for this million-dollar idea that will make you rich and allow you to quit your job overnight? Well, this conference won't push you in a direction you don't want to go, but its goal is to give you just the right nudge to move forward. Because that's what Lean Startup techniques did to me 3 years ago. And this presentation will show you some of the tools I've been using, as well as some of the things that I've learnt by experience.

  %li#laurent-grumiaux
    .bullet
    .name Our Agile Approach to Game Development - Laurent Grumiaux and Pierre Guerand
    %p
      We will show you and teach you the importance of customizing your Agile project follow up depending on your team size, product, team and technical difficulties. We will show you how to integrate Artistic development in you Agile approach and how to make this big mix work with real life examples and by sharing our experiences with you.


  %li#pierre-e-neis
    .bullet
    .name My Product is a James Bond Movie! - Pierre E. Neis
    %p
      I don&#39;t want a product. I want THE PRODUCT. I want that my product looks like a James Bond Movie to my users! Agile is built around first class engineering practices, quality, testing. That works well, since years. Helps or User Stories, we know that our development needs to fit to customer&#39;s expectations. That&#39;s fine! What happens when you need to delight multiple users? each time? You have the story for the user, for the persona. But, does this kick someone off? I will send my Product Owners to MGM so that our Product, our Release Plan looks like a James Bond movie so that my customer became sooooooo delighted that &ldquo;Skyfall&rdquo;.


  %li#alexis-monville
    .bullet
    .name The Agile and Open Source Way - Alexis Monville
    %p
      The Agile and Open Source Way is the conference for everyone who wants to scale agile in multiple distributed teams. This session will also help you to collaborate upstream with Open Source projects.
      %br
      %br
      Whether you want to improve interactions with other teams inside or outside your company, or just interested in scaling from more than one team, you will find in this session the information you need, illustrated by a real case.


  %li#maurizio-pedriale
    .bullet
    .name Cynefin Lego Game - Alan Hortz and Maurizio Pedriale
    %p
      From: http://www.agile42.com/en/blog/2011/12/25/cynefin-lego-game/
      %br
      %br
      Using Lego, you go through four exercises where the problem to solve and the context you work in is designed to create a simple, complicated, complex and chaotic system. While it does not introduce you to the full potential of the sense-making framework, it is well suited to get a first impression and raise interest in learning more about it! Although Cynefin is at the heart of this excercise, the debriefing focuses on outcome that is not necessarily part of the model.
      %br
      %br
      Why You’d Use It
      %br
      %br
      When leading or managing agile transitions, it is important to know what type of system you are dealing with. Playing this game shows you how to decode what is happening in terms of organisational structures and communication in that specific system. Once you are able to do this, you can appreciate the consistency of your communication style with the related system, as well as choose more appropriate tools to set direction and coach.


  %li#jake-benilov
    .bullet
    .name 7 types of feedback that helped make GOV.UK a success - Jake Benilov
    %p
      The UK government does not have a good history of IT delivery. The Government Digital Service (GDS), a new "startup" team within Cabinet Office, has been bucking this trend by successfully delivering GOV.UK, the UK's single government domain, using open source tech and agile development.
      %br
      %br
      My talk will focus on 7 innovative feedback techniques that the GDS team uses to improve their daily work.


  %li#peter-duelen
    .bullet
    .name The scrum board mystery files: To post-it or not to post-it - Peter Duelen
    %p
      Everyone who has walked past a scrum board has noticed them: “Please Test” post-its.  They seem a normal part of our daily way of working. But are they really?  Are we not, agile or not, still confronted with the evils of perceived quality and having to test in part of our quality in the end?
      %br
      %br
      There are a lot of testing issues we constantly grind through to get rid of these hidden assumptions, to prove our work is invaluable to the team.  And it’s never as easy as moving a post-it from left to right.
      %br
      %br
      But why do we limit ourselves to using this 1 note when we have the perfect visualization tool, the scrum board; at our disposal.  It can do a lot; I just think we’re not using it to its full potential.  Over the past years, I’ve learned 2 important lessons on creating a common ground for testing when using the scrum board :
      • What you don’t know, is what you don’t get.
      and
      • What you don’t see is what you don’t get.
      %br
      %br
      Teams have a lot of information and ideas about visualization and what to show when but as Gojko Adzic already stated in his blog “If it were easy we’d all be doing it already”.  So how can we pinpoint bottlenecks, bug clusters, structural issues, … and make sure we can put out some work fixing them ?
      %br
      %br
      The scrum board mystery files shows the outcome from a series of testing experiments in agile with regards to getting feedback from teams and managers and improving our way of working in current and new projects.



  %li#luc-taesch
    .bullet
    .name The Sound of Silence - Luc Taesch
    %p
      Is understanding important in life ? is listening important for understanding ? can you  listen (anybody), still,  with empathy, or do you sometimes have difficulty to listen somebody with a different opinion ? does it sometimes raises (conflicting) emotions ?  what is the strategy then ? do you feel compelled to speak and cut the speaker, or violently control and suppress this voice in your head ? But then,  when is this voice coming again and again to haunt you, with great creative ideas , can you listen to it , fully ?
      %br
      %br
      The sound of silence is a series of practical techniques to listen to each other, with a clear mind and an open heart, and listen to oneself, truly.


  %li#jan-de-baere
    .bullet
    .name  A War Story of the Rise and Fall of an "Agile" Company - Jan De Baere
    %p
      The director of our IT consultancy company decided to drastically change the culture of our company. The command and control style didn’t make sense anymore for him. Together with a change agent he took the whole company on a journey towards an Agile culture. We changed our way of working, the recruitment process, the appraisal system… The journey was bumpy and we had forces fighting us from the inside and the outside. We learned, had fun and a lot of energy but the day came…
      %br
      %br
      Build up during 8 years and destroyed in one day.
      %br
      %br
      What happened? What tools did we use? Lessons learned?


  %li#frederic-vandaele
    .bullet
    .name Kickstart your Product Backlog with Innovation Games - Frederic Vandaele
    %p
      How to start your Scrum project? How to initialize your product backlog? You are not alone, in most agile projects, managing the product backlog remains a complex and difficult activity.
      %br
      %br
      Scrum said that it's the Product Owner that manage the product backlog but it does not tell us how (It's a framework you know). However, the product owners are people from the business. They have little or no experience with Agile and what it means in term of contribution to the project.
      %br
      %br
      How to involve a group of users in the creation of product backlog without that they feel cheated or ignored? How to prioritize dozens or even hundreds of user stories of varying sizes with a group of users representing different needs with conflicting interests?
      %br
      %br
      The Innovation Games are techniques that can address these issues. The art is to combine these methods with a view to a common vision to emerge as an initial product backlog that will help the Scrum team to start the project on a solid foundation.

  %li#joanne-ho
    .bullet
    .name Agile Methodologies For Research and Discovery - Joanne Ho
    %p
      This presentation is a short overview of how Agile can be used beyond building products, into the space of research and discovery, where the "product" is to create new knowledge.  While Scrum offers a great framework for product development where requirements and user stories can be clearly defined, research and discovery cannot enjoy the same clarity from user storie.
      %br
      %br
      By nature of venturing into unknown territory, cycle time needs to be reduced to as short as 4 hours.  Scrum, Kanban, Continuous Improvement, Lean, and pairing offers valuable tools and frameworks as well as mental and emotional stability and team solidarity for researchers to bravely venture where no man has gone before.
      %br
      %br
      This talk is an introduction to contents in a forthcoming book found at <a href="https://leanpub.com/academic-research/">https://leanpub.com/academic-research/</a>

  %li#lahcen-afif
    .bullet
    .name SCRUM expliqué aux enfants - Lahcen Afif
    %p
      Et si nous pouvions appliquer les principes agiles pour aider nos enfants dans leurs études ? Lors de cette conférence, nous vous expliquerons une application, simple mais efficace, de ces principes dans le cadre de l'organisation d'une année scolaire et des examens. Planification, évaluation, Visual Management, rétrospective, amélioration continue, ... tout y passe pour le plus grand plaisir des enfants et surtout ... des parents !

  %li#guillaume-duquesnay
    .bullet
    .name Managing without authority : lessons learnt as a dungeon master - Guillaume Duquesnay
    %p
      I'm playing Dungeons and Dragons with a pack of friends every one or two month. My role-play experience is nearly 20 years long, much longer than my 10+ years of professional experience. I think some of my best management, facilitation and leadership lessons come from game mastery more than from work.
      %br
      %br
      As a dungeon master, you simply try to have your friends playing an inspiring adventure. No boss, no money involved, just a common goal : enjoy every bit of it.
      %br
      %br
      So where's the deal ?
      %br
      %br
      Well, give your players swords, spells, and treasures, and you'll have to deal with nasty behaviors, cheaters, impulsiveness, selfishness, and even bullies. Your challenge : have your smart, fun, educated friends back on the table, as to play together the best adventure they never played.
      %br
      %br
      My purpose is to share what I learned regarding leadership, facilitation and management while no authority was involved. As a quick pick, you'll hear about leadership/ followership, pair management, delegation, facilitation, loosing control, improvising, involving and enrolling (and even a bit of lean !).


  %li#damien-thouvenin
    .bullet
    .name 1+9 visual management tools - Damien Thouvenin
    %p
      One of the (many) major impact that Scrum had on the agile movement was to bring in Visual Management (the famous "information radiator"). The ScrumBoard derivates from the Lean "kanban" but Visual Management should not be limited to this only tool.
      %br
      %br
      Plan, Track, Check, Decide, Allocate, Explain ... can all these activities be empowered with Visual Tools? YES !
      %br
      %br
      In this short session we will explore 9 other visual tools to work more efficiently. Of course, we will also briefly talk about the Kanban/ScrumBoard which, with little changes, can be much improved.



