.edition_2012
  %h1.giant.title Agile Tour Brussels 2012
  .large.ribbon Presentations

  %br/
  %br/

  %ul#speaker-list
    %li#jef-cumps
      .bullet
      .name How to solve your toughest impediments - Jef Cumps
      %p
        Did you ever struggle getting management support or decisions? Are you looking for ways to assess and address organizational impediments that are blocking or holding back your implementation of Agile? Then join this session to learn how the Lean A3 tool helps you in:
        %br
        %br
        \- defining a problem or desired outcome
        %br
        \- quantifying costs and benefits
        %br
        \- getting buy-in and approval to solve the problem
        %br
        \- following-up on the solution
        %br
        %br
        This session will be a guided exercise, where the facilitators provide the necessary insights and knowledge 'just in time' during the session. You will work in small groups that first identify common, hard-to-solve impediments or problems. After clustering and prioritizing all impediments, each group will build an A3 for one of them. This will provide all session participants with A3’s for all chosen, top impediments that they can use in their own team or organization.
        %br
        %br
        <iframe src="http://www.slideshare.net/slideshow/embed_code/14930093" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/cumpsje/problem-solving-a3-how-to-solve-tough-impediments" title="Problem Solving A3 - How to solve tough impediments" target="_blank">Problem Solving A3 - How to solve tough impediments</a> </strong> from <strong><a href="http://www.slideshare.net/cumpsje" target="_blank">Jef Cumps</a></strong> </div>

      %li#jan-de-baere
        .bullet
        .name Case studies: Kanban at personal, software, non software and portfolio level - Jan De Baere
        %p
          As project management office in a large and traditional Belgium company we promote - unofficaly - agility in the company. One of the things is that we started to use kanban/visual management. It starts with a quick overview of kanban so everybody should be able to follow. Main thing is to show real live examples:
          %br
          %br
          \- Three maintenance teams
          %br
          \- Two non software teams
          %br
          \- Personal
          %br
          \- Portfolio level (200+ projects)
          %br
          %br
          As well in the maintenance teams as in the non software teams we have distributed team. As side information on the portfolio level topic you'll also receive an idea on how we included agile in our project management method.
          %br
          %br
          <div style='width:425px;text-align:left'><object style='margin:0px' width='425' height='355'><param name='movie' value='http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=at2012kanbanpublic-13516139366177-phpapp02-121030112032-phpapp02&stripped_title=at2012kanban-public' /><param name='allowFullScreen' value='true'/><param name='allowScriptAccess' value='always'/><embed src='http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=at2012kanbanpublic-13516139366177-phpapp02-121030112032-phpapp02&stripped_title=at2012kanban-public' type='application/x-shockwave-flash' allowscriptaccess='always' allowfullscreen='true' width='425' height='355'></embed></object></div>

      %li#tiago-garcez
        .bullet
        .name Bridging the Management Gap - Tiago Garcez
        %p
          While Agile implementations have been experiencing considerable successes in many cases, there seems to be an inverse relationship between the size of the company adopting Agile and the level of success experienced in the adoption. Large organizations still do, in general, treat Agile as an "IT initiative", while smaller organizations (who are more used to being flexible and responsive) typically have an easier time treating Agile as a company-wide philosophy. Why does this happen? Why do we keep hearing the same question in Agile conferences - "where are the managers?" Why does Enterprise Agile seem like an unachievable goal? And most importantly, what can we do about this gap that often manifests itself between organizational management and Agile teams? This session will address this topic by going through 4 distinct parts:
          %br
          %br
          1. Are companies starting off their Agile change initiatives with the correct mindset (and goals)?
          %br
          2. Experience in implementing Enterprise Scrum in large Belgian organizations (bpost and Belgacom)
          %br
          3. Retrospecting on successes and exploring the root causes for problems and difficulties experienced in these cases
          %br
          4. Proposing actions, behaviors and community activities to effectively close the gap The session will be a mix of presentation and interactivity as we explore the root causes and implications behind this challenging issue.
      %li#pascal-van-cauwenberghe
        .bullet
        .name The algorithm to (learn to) write perfect code - Pascal Van Cauwenberghe
        %p
          What's your first reaction when someone finds a bug in your application?
        %p
          Sadness? Anger? Pain? Rage? Someone dares to criticize my baby?
        %p
          Why don't you feel thankful, happy and energized?
        %p
          Every reported bug is an opportunity to improve your product, your team,
          your way of working and yourself.
        %p
          We'll walk through how one team solved one tiny bug. On the way, we'll
          see a number of techniques you can apply immediately with your team.
        %p
          You'll go away with a simple 11 step algorithm to (learn to) write
          perfect code.
        %p
          And maybe your team will become one of those teams who have so few bugs
          that they celebrate each bug report....
        %p
          Warning: the techniques are both simple and very hard. It's a slow and
          expensive way of writing software. But every other way I've seen is even
          slower and more expensive...
        %br
        %br
        <iframe src="http://www.slideshare.net/slideshow/embed_code/14986435" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/agilecoachnet/great-another-bug" title="Great! another bug" target="_blank">Great! another bug</a> </strong> from <strong><a href="http://www.slideshare.net/agilecoachnet" target="_blank">AgileCoach.net</a></strong> </div>

      %li#erik-talboom
        .bullet
        .name Taking baby steps - Erik Talboom
        %p
          How often do you commit to source control? Do you also have the feeling that you want to do too much? Do you split up your commits enough? Do you really take the smallest step possible before committing? We human beings are not that disciplined in general.
          %br
          %br
          This session will help you keep that discipline and will also show you that you are not taking the smallest step possible. If you want to know more about this session idea:
          =link_to "http://talboomerik.be/2012/01/16/taking-baby-steps/", "http://talboomerik.be/2012/01/16/taking-baby-steps/"
      %li#alan-hortz
        .bullet
        .name Lessons learned from a Scrum Master - Alan Hortz
        %p
          You have been appointed to your new role within the organization, Scrum Master, Congratulations ! It is not an easy role and there is a long to way to go. Alan Hortz wants to share with you the lessons he learned from the role and from being part of a scrum team without being the team leader.
        %br
        %br
        <iframe src="http://www.slideshare.net/slideshow/embed_code/14965531" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/alanhortz/presentation-atbru2012" title="ATBRU2012 - Scrum Master : Lessons Learned" target="_blank">ATBRU2012 - Scrum Master : Lessons Learned</a> </strong> from <strong><a href="http://www.slideshare.net/alanhortz" target="_blank">alanhortz</a></strong> </div>

      %li#christophe-addinquy
        .bullet
        .name The virtues of emergence - Christophe Addinquy
        %p
          The emergent thinking is one of the hardest concept to understand. Often restricted to architecture considerations, this way of thinking is even reneged by non or fake agilists. This talk will show that emergence, beyond its way of thinking is a fundamental mechanism of agile projects, well beyond architecture considerations : to understand problems, the way teams work and even enterprise strategies. We'll see that emergence surpass the agile projects field and also applies to unsuspected domains.
        %br
        %br
        <iframe src="http://fr.slideshare.net/slideshow/embed_code/14974825" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://fr.slideshare.net/addinquy/the-virtues-of-emergence" title="The Virtues of emergence" target="_blank">The Virtues of emergence</a> </strong> from <strong><a href="http://fr.slideshare.net/addinquy" target="_blank">Christophe Addinquy</a></strong> </div>

      %li#stephane-rondal
        .bullet
        .name Learning How (and why) to Estimate User Stories - Stephane Rondal
        %p
          Experience has shown me that in most projects, be them Agile or not, user stories are not being estimated. Is this your case too? Actually, there's no need to estimate user stories. Lean principles even drive us to consider such estimation to be a waste. Well, now you have an excuse for not having estimations ;-) but usually management and/or customers don't see it this way, and do require estimations in order to calculate a release date for the project.
          %br
          %br
          The good thing is that estimating user stories does not need to be painful. In fact, Agile techniques exist that are simple, quick, surprisingly efficient and even fun! During this session, you'll learn about story points, velocity, planning poker, etc. A small workshop will allow you to experiment live with these techniques. And even if you're already familiar with the above techniques, or if you are more into Kanban/Continuous delivery rather than Scrum/Iteration-driven, you'll see other/simpler ways to reach the same goal.
          %br
          %br
          <iframe src="http://www.slideshare.net/slideshow/embed_code/15026519" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/srondal/agile-tour-brussels-2012-estimating-user-stories" title="Agile Tour Brussels 2012 - Estimating user stories" target="_blank">Agile Tour Brussels 2012 - Estimating user stories</a> </strong> from <strong><a href="http://www.slideshare.net/srondal" target="_blank">srondal</a></strong> </div>

      %li#mathieu-despriee
        .bullet
        .name Agility at large scale : a return on experience - Mathieu Depriée & Hervé Lourdin
        %p
          A software project implying 80 people, divided in 9 teams across 4 countries. A product that must sustain an activity of more than 5'000'000 sale transactions per day. A first deployment to production expected 6 months after project startup. And new features every 2 months. Who said that Agile was not adapted to large projects ? We will share with you our experience on a project involving a rollout of agile methodologies at large scale : feature-teams, communities of practice, switching to continuous stream of work without iterations, using lead-time metrics, frequent delivery and deployment to production in a single click, collaborative decision-making... What you will learn:
          %br
          %br
          \-	Our "do's and don't's" about agile methodologies when applied to large projects
          %br
          \-	The organization models we put in place
          %br
          \-	Our best practices to keep the stream under control in a large project
          %br
          \-	Key tools and skills to start such a project.
          %br
          %br
          <iframe src="http://fr.slideshare.net/slideshow/embed_code/14930871" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://fr.slideshare.net/mathieu_despriee/scaling-agile-conference-at-agile-tour-brussels" title="Agile at Large Scale - Conference at Agile Tour Brussels" target="_blank">Agile at Large Scale - Conference at Agile Tour Brussels</a> </strong> from <strong><a href="http://fr.slideshare.net/mathieu_despriee" target="_blank">Mathieu DESPRIEE</a></strong> </div>

      %li#bruno-sbille
        .bullet
        .name Introduction to Scrum, the most used Agile Method, through Games - Bruno Sbille
        %p
          Scrum is the most used Agile Method to manage and realize projects.
          %br
          %br
          Via this practical Workshop, we will simulate a project. Participants will work as a team using Scrum Principles and Values.
          %br
          %br
          The objective is to:
          %br
          \- Experiment what it feels to work in Scrum Mode
          %br
          \- Learn about the Scrum Framework
          %br
          %br
          It will give you an introduction of what it's like to work using Agile Methods.
          It will also give you some "comparison" points with others Project Management methods like Prince2 et PMI.
          %br
          %br
          To achieve those goals, we will use Agile Games (same philosophy as Serious Games)
    %li#yves-hanoulle
      .bullet
      .name How 146 people created 13 projects - Yves Hanoulle
      %p
        I have created lots of online collaborations: - the agile conference calendar - the retroflection of the day - who is agile - Agile Thursday quiz etc... In this presentation I will talk about the 146 people that helped me in these projects, what I have learned about teams & projects by doing these projects.
      %br
      %br
      <iframe src="http://www.slideshare.net/slideshow/embed_code/14120901" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/YvesHanoulle/how-i-created-online-collaboration-teams" title="How I created Online collaboration teams" target="_blank">How I created Online collaboration teams</a> </strong> from <strong><a href="http://www.slideshare.net/YvesHanoulle" target="_blank">Yves Hanoulle</a></strong> </div>
    %li#ron-enriga
      .bullet
      .name The Agile Tipping Point - Ron Enriga
      %p
        This session is based on the New York bestseller "The tipping point" by Malcolm Gladwell. We will use the practicle examples from the book to have a discussion on finding discriminators that can help in coaching an organisation to a higher performance level. The session is an interactive workshop with room for bringin in examples from the audience.
        %br
        %br
        The goal of the session is to determine a concrete plan for each participant. Participants are invited to think of their own environment to see if we can find the factors that might reach a tipping point in their organisation. We will discuss a case in the workshop as an example.
        %br
        %br
        <div class="prezi-player"><style type="text/css" media="screen">.prezi-player { width: 550px; } .prezi-player-links { text-align: center; }</style><object id="prezi_wxs6_iichyb7" name="prezi_wxs6_iichyb7" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="550" height="400"><param name="movie" value="http://prezi.com/bin/preziloader.swf"/><param name="allowfullscreen" value="true"/><param name="allowFullScreenInteractive" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="direct"/><param name="bgcolor" value="#ffffff"/><param name="flashvars" value="prezi_id=wxs6_iichyb7&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/><embed id="preziEmbed_wxs6_iichyb7" name="preziEmbed_wxs6_iichyb7" src="http://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowFullScreenInteractive="true" allowscriptaccess="always" width="550" height="400" bgcolor="#ffffff" flashvars="prezi_id=wxs6_iichyb7&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed></object><div class="prezi-player-links"><p><a title="The Agile Tipping Point" href="http://prezi.com/wxs6_iichyb7/the-agile-tipping-point/">The Agile Tipping Point</a> on <a href="http://prezi.com">Prezi</a></p></div></div>

    %li#celine-stauder
      .bullet
      .name Organize effective meetings and rituals - Céline Stauder
      %p
        Have you ever felt that your planning sessions are too long and heavy; that your retrospectives are not dynamic; that you don’t know why you are in this meeting; or the participants prefer playing with their phones to participating?
        %br
        %br
        If it’s the case then you are the right person to be in this workshop. You’ll learn several tricks and practices to boost the efficiency of your meetings/workshops/rituals.
    %li#pierre-emmanuel-dautreppe
      .bullet
      .name TDD by example - Pierre-Emmanuel Dautreppe
      %p
        You may have already heard about Test Driven Development. It sounds nice, but how can we test something that does not exist (yet) ?
        %br
        %br
        Let’s explore together the benefits of testing (unit testing or UI testing) and let’s see in practice how we can set up TDD in our project.
        %br
        %br
        This session will be split in two parts:
        %br
        A bit of theory:
        %br
        %br
        \- Why do we test?
        %br
        \- What is TDD and what are his benefits?
        %br
        \- This code is not “testable”!
        %br
        %br
        A lot of practice
        %br
        %br
        \- A short presentation of a Unit Test framework
        %br
        \- Let’s do katas! Demo of the TDD cycle : test, develop, refactor, commit
        %br
        \- ATDD (Acceptance TDD) : there are many ways of doing ATDD. Let’s explore one technic, that provides high level code, readable to everyone.
        %br
        %br
        All demo will be done using C# and the .NET testing tools (MsUnit and CodedUITest).
    %li#steve-conard
      .bullet
      .name How to do great Retrospectives! - Steve Conard
      %p
        One of the most important parts of Scrum are the Retrospectives held at the end of every sprint. But how do you ensure that these meetings are varied and do not become boring? How to get to concrete results that make a real difference? In this session you will learn tools and techniques to organize fun and effective Retrospectives. Guided by our experienced Scrum coaches, participants will share ideas and best practices on how to make Retrospectives kick ass!
        %br
        %br
        Learning Objectives:
        %br
        * Get more insight in the possibilities for organizing interesting Retrospectives
        %br
        * Share ideas amongst the participants
        %br
        * Hear real-life examples and opinions about Retrospectives Target Audience Everybody interested in Scrum and improving its Scrum implementation through Retrospectives is welcome! Session Outline Our goal is to define and discuss how to run Retrospectives that are fun, interesting and effective during all sprints in the project. After an introduction on the subject, participants will be divided in small groups to do an actual Retrospective, focused on sharing experiences and ideas to improve Retrospectives . At the end of the session we will debrief results and draw conclusions on how to run the best Retrospectives.
        %br
        %br
        Timetable:
        %br
        * Brief presentation about retrospective (15 min) Set the stage, Gather data, Generate insights, Decide what to do, Closing
        %br
        * Short sprint were the the participants can compete with each other. They will build a tower or paper plane. (15 min)
        %br
        * Retrosession (30 min) Then the retro's will start about the sprint they just did. Each group have to choose a Scum Master who will facilitate their retro. In the room will be mini manuals available about techniques they can use during the retro. Of course the groups are free to use other techniques if they like.
        %br
        * Teach back session among the groups (30 min) What did each group learned in the retro session. What was their experience?
        %br
        %br
        <iframe src="http://www.slideshare.net/slideshow/embed_code/14997158" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/steveconard/retrospectives-session-agile-tours-2012-bru-14997158" title="Retrospectives session agile tours 2012 bru" target="_blank">Retrospectives session agile tours 2012 bru</a> </strong> from <strong><a href="http://www.slideshare.net/steveconard" target="_blank">Steve Conard</a></strong> </div>

    %li#pierrick-revol
      .bullet
      .name Mission to Mars - Pierrick Revol
      %p
        "Mission to Mars" is a brand new game simulating the rocket construction by a team. You will play one of the 5 characters: Nadia the electronic, Jane the architect, David the tester, Steve the developer or Omar the junior.
    %li#wim-bollen
      .bullet
      .name Don’t mention the war! - Wim Boolen & Ben Cassiman
      %p
        The Agile Manifesto states its very first value as: “[We value] Individuals and interactions over processes and tools”. Hereby the Agile community captures the importance of communication. In many teams - and even more so in Agile teams – communication can turn into a major obstacle, thus blocking the transition. Make sure you fix this obstacle first before moving on. This playful workshop encourages teams to experience simple but profound lessons in the psychology of communication.
        %br
        %br
        It will give you insight in your communication style and how to align your communication style to others. And it demonstrates how balanced communication can truly build an Agile team. All (Agile) team members, team leaders, Scrum masters and their product owners are invited to participate.
        %br
        %br
        <iframe src="http://www.slideshare.net/slideshow/embed_code/14930310" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/DUCTU-be/dont-mention-the-war" title="Don&#39;t mention the war!" target="_blank">Don&#39;t mention the war!</a> </strong> from <strong><a href="http://www.slideshare.net/DUCTU-be" target="_blank">DUCTU-be</a></strong> </div>

    %li#julien-biezemans
      .bullet
      .name Hard Choices - Julien Biezemans
      %p
        We are all in debt. We all have dark bits in our codebase or spaghetti code. Someday, we have to pay it back. This is not only a developer issue: everyone is concerned.
        %br
        %br
        In this session, you will understand what technical debt is and learn how to deal with your technical debt and the involved trade-offs.
        %br
        %br
        After a short presentation about technical debt, you'll experience the tough decisions that are related to it in a hands-on session based on the Hard Choices board game.
        %br
        %br
        The Hard Choices game simulates a software development process. When you start a project you want to be first on the market and release a quality product to delight your customers. The game will put you in front of the difficult decision between taking a shortcut that gives you an advantage over your competitors or gaining more knowledge. It's all about strategy and being conscious of the accumulated debt.
        %br
        %br
        We'll then follow up with an open discussion about strategies to avoid or recover from technical debt.