#program
  %table
    %thead
      %tr
        %th.small
        %th
          Track 1
        %th
          Track 2
        %th
          Track 3
        %th
          Track 4
    %tbody
      %tr
        %td.small
          8h00 - 9h00
        %td{:colspan => 4}
          Breakfast & Coffee at the cafeteria
      %tr
        %td.small
          9h05 - 9h20
        %td{:colspan => 4}
          Openings in main room
      %tr
        %td.small
          9h30 - 10h30
        %td
          Estimating user stories, or how to put a release on your backlog
          .name
            Stephane Rondal
        %td
          Surprise session
          .name
            Pascal Van Cauwenberghe
        %td
          TDD by example
          .name
            Pierre-Emmanuel Dautreppe
        %td{:rowspan => 2}
          Mission to Mars
          .name
            Pierrick Revol
      %tr
        %td.small
          10h40 - 11h40
        %td
          Bridging the management gap
          .name
            Tiago Garcez
        %td
          Case studies: Kanban at personal, software, non-software and portfolio level
          .name
            Jan De Baere
        %td
          Taking baby steps
          .name
            Erik Talboom
      %tr
        %td.small{:rowspan => 2}
          11h50 - 12h50
        %td
          Lessons learned from a ScrumMaster
          .name
            Alan Hortz
        %td{:rowspan => 2}
          How to solve your toughest impediments
          .name
            Jef Cumps
        %td{:rowspan => 2}
          Hard Choices
          .name
            Julien Biezemans
        %td{:rowspan => 2}
          Surprise session
          .name
            Bruno Sbille
      %tr
        %td
          The virtues of emergence
          .name
            Christophe Addinquy
      %tr
        %td.small
          12h50 - 13h50
        %td{:colspan => 4}
          Walking dinner in the Patio
      %tr
        %td.small
          14h00 - 15h00
        %td
          Bart's session
          .name
            Bart Coelus
        %td
          The Agile tipping point
          .name
            Ron Enriga
        %td{:rowspan => 2}
          How to do great retrospectives
          .name
          Steve Conard
        %td{:rowspan => 2}
      %tr
        %td.small
          15h15 - 16h15
        %td
          Agility at large scale: A return on experience
          .name
            Mathieu Despriée & Hervé Lourdin
        %td
          Atelier: Organiser des cérémonies et réunions efficaces
          .name
            Céline Stauder
      %tr
        %td.small
          16h30 - 17h00
        %td{:colspan => 4}
          Closing
      %tr
        %td.small
          17h00 - 18h30
        %td{:colspan => 4}
          Beers at the cafetaria
