:javascript
  $("#slideshow").slides({
    play: 3000,
    pause: 1500,
    generateNextPrev: false,
    generatePagination: false,
    effect: 'fade',
    crossfade: true,
    slideSpeed: 750
  });

  var myOptions = {
    center: new google.maps.LatLng(50.8267908, 4.4002883),
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map"), myOptions);
  var contentString = '<div>'+
    'EPHEC Brussels' +
    '<br />'+
    'Avenue Konrad Adenauer 3'+
    '<br />'+
    '1200 Woluwe-Saint-Lambert'+
    '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(50.8267908, 4.4002883),
    map: map,
    title:"EPHEC Brussels"
  });

  infowindow.open(map,marker);
  map.panBy(20, -90);