<div id="tweet_button">
<a href="https://twitter.com/intent/tweet?button_hashtag=atbru&text=Agile%20Tour%20Brussels%20-%20the%20conference%20for%20happy%20Agilists%2C%2031%20Oct%2C%202014" class="twitter-hashtag-button" data-url="http://www.atbru.be">Tweet #atbru</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>