%section#intro
  %h2 What to expect from this event?
  %p
    Vivamus ligula nulla, iaculis quis dictum sollicitudin, luctus accumsan nisl. Sed enim est, auctor quis mollis in, mattis ac justo. Etiam sed odio odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus vulputate mi vel velit fermentum venenatis. Aliquam vestibulum nisl sed nisi volutpat ornare sed ut elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vel turpis dui. Aliquam mi magna, dictum id volutpat quis, lobortis at dolor. Aenean in ultrices orci. Quisque mollis faucibus nibh vitae condimentum. In nisl risus, laoreet et molestie eu, pulvinar eu mi. Proin commodo aliquet felis ut accumsan.
  %ul
    %li Some example of things
    %li Other things in this list

%section#location
  %h2 Where is it located?
  #map

%section#speakers
  %h2 Last speakers to join
  %ol
    %li
      = image_tag ""
      .name Marc Lainez
    %li
      = image_tag ""
      .name Julien Biezemans
%section#sponsors
  %h2 Sponsors
