.edition_2014
  %h1.giant.title Agile Tour Brussels 2014
  .large.ribbon Sponsoring
  %br
  %br
  %h1 Sponsor packages Agile Tour Brussels 2014
  %p 
    We offer the following sponsor options:
  %p 
    <strong>Bar sponsor</strong>: 750 + VAT
    %ul
      %li the sponsor pays for drinks after the conference;
      %li the sponsor will get an acknowledgement during the conference;
      %li sponsor is mentioned in the online program and on the program handout;
  %p 
    <strong>Web sponsor</strong>: 1.000 + VAT
    %ul
      %li sponsor logo and URL will be put on the www.atbru.be website and on the conference hand outs;
      %li the sponsor will get an acknowledgement during the conference opening session;
      %li during the conference, sponsor materials will be available at the registration desk;
  %p 
    Note:
    %ul
      %li the sponsor is responsible for getting the materials in time at the conference;
      %li the conference organizers will give a timely indication of the number of participants to expect.
  %p 
    <strong>Conference sponsor</strong>: 2.000 + VAT
    %ul 
      %li the sponsor can bring a stand; (Contact us at <a href="mailto:sponsoring@atbru.be">sponsoring</a> for a map of the rooms and stands at the venue.)
      %li sponsor logo and URL will be put on the www.atbru.be website and on the conference hand outs;
      %li the sponsor will get an acknowledgement during the conference opening session;
      %li during the conference, sponsor materials will be available at the registration desk;
      %li the sponsor will get 1 free admission to the conference.
  %p 
    Note:
    %ul
      %li the sponsor is responsible for getting the materials in time at the conference;
      %li the sponsor is responsible for the stand;
      %li the conference organizers will give a timely indication of the number of participants to expect.
  %p
    <strong>Agile Tour Brussels + XP Days sponsor</strong>:  30% discount on both packages
  %p
    Why not sponsor both Agile Tour Brussels (1 day, 180 participants) and XP Days in november (2 days, 160 participants)? You get:
    %ul 
      %li Exposure the whole year long
      %li Lower cost than sponsoring each event separately
  %p 
    <strong>Tailored Package</b>
  %p
    Contact us at 
    %a(href="mailto:sponsoring@atbru.be") sponsoring
    for pricing or to create a sponsoring package tailored to your wishes.
  %p 
    <strong>Media sponsoring</strong>
    %ul
      %li a media sponsor mentions the conference (logo, conference name, location, date, URL), on a website and/or in a magazine and/or in a mailing;
      %li sponsor logo and URL will be put on the www.atbru.be website;
      %li the sponsor will get an acknowledgement during the conference opening sessions.

   

