- if false # disabled content
  - content_for :carousel do
    #slideshow
      .slides_container
        %div= image_tag "sponsors.jpg"

.edition_2014
  %h1.giant.title Agile Tour Brussels 2014
  .large.ribbon Sponsors

  %section.sponsor#options
    %br
    %br
    %p
      Want to see your company here? Have a look at our 
      %a(href="./sponsoring.html") Sponsoring options 
      and contact 
      %a(href="mailto:sponsoring@atbru.be") sponsoring 
      to see how we can work together to make Agile Tour 2014 a great day for the participants and your company.
  
  %section#sponsors
    %br
    %br
    :markdown

      ## Gold Sponsors

    .wrap
      #img-box
        =link_to image_tag("medium_color_cegeka_logo.png", :alt => "Cegeka"), "http://www.cegeka.com/"
        =link_to image_tag("medium_color_pyxis_logo.png", :alt => "Pyxis"), "http://pyxis-tech.com/en"
        =link_to image_tag("medium_color_sa_logo.png", :alt => "Scrum Alliance"), "http://www.scrumalliance.org"
        =link_to image_tag("medium_color_wemanity_logo.png", :alt => "Wemanity"), "http://www.wemanity.com/"
        =link_to image_tag("medium_color_brunosbille_logo.png", :alt => "BrunoSbille.com"), "http://brunosbille.com/?page_id=2079&lang=fr"
        %br
        =link_to image_tag("large_color_agilar_logo.png", :alt => "Agilar"), "http://www.agilar.be/"
        =link_to image_tag("medium_color_logo_agile_oniryx.png", :alt => "Oniryx"), "http://www.oniryx.be/"


        

    %br
    %br
    :markdown

      ## Community sponsors

    .wrap
      #img-box

        =link_to image_tag("medium_color_logo_agile_consortium.png", :alt => "Agile Consortium"), "http://www.agileconsortium.net/category/belgium/", :target => "_blank"
        =link_to image_tag("medium_color_logo_agile_systems.png", :alt => "Agile Systems"), "http://agilesystems.org", :target => "_blank"
        =link_to image_tag("medium_color_logo_journee_agile.png", :alt => "La Journée Agile"), "http://www.journeeagile.be/", :target => "_blank"
        =link_to image_tag("medium_color_stattys_logo.png", :alt => "Stattys"), "http://www.stattys.com", :target => "_blank"
        =link_to image_tag("medium_color_logo_devopsday.png", :alt => "DevOps Days"), "http://devopsdays.org/events/2014-belgium/", :target => "_blank"
        =link_to image_tag("medium_color__logo_xpdays2014.png", :alt => "XP Days 2014"), "http://xpdays.net" , :target => "_blank"
        =link_to image_tag("medium_color_logo_agile_belgium.png", :alt => "Agile Belgium"), "http://www.agilebelgium.org/", :target => "_blank"
        =link_to image_tag("medium_color_logo_handson.io.png", :alt => "Handson.io"), "http://handson.io", :target => "_blank"

    %br/
    %br/


