- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "sponsors.jpg"

%h1.giant.title We are looking for sponsors
%p.center Please contact us if you wish to sponsor this event

%h1.big.title Last year's sponsors
%p.center= link_to "Agile Tour 2012 sponsors list", sponsors_path( year: 2012)

