%section.getting-there
  %h2 Getting to the ICAB
  %h3 By train
  %p
    Merode station is at 14 min. distance by underground.
  %h3 By underground
  %p
    Line 1 direction Stockel; Stop Alma at 5 min. walking distance.
  %h3 By car
  %p
    The Ephec is situated near the “Cliniques Universitaires Saint-Luc”.
  %p There are a few parking spots available in the streets around the ICAB but we recommend to use public transportation in Brussels. There are different parkings around the city.

  %p EPHEC Ecole Pratique des Hautes Etudes Commerciales  | Avenue Konrad Adenauer 3 | 1200 Woluwe-Saint-Lambert
  #map
