%section.getting-there
  %h2 Getting to the ICAB
  %h3 By train
  %p
    Etterbeek Station at a 10 min. walking distance.
  %h3 By tram
  %p
    Tram 23, 24, 25. Stops Arsenal/Arsenaal or Hansen-Soulie at 3 min. walking distance.
  %h3 By underground
  %p
    Line 5 direction Herrmann-Debroux; Stop Pétillion at 3 min. walking distance.
  %h3 By car
  %p
    ICAB is situated on the Arsenal Site. This historic site is located on the axis "Place Général Meiser - Montgomery Square - Bois de la Cambre" near the intersection between Boulevard Louis Schmidt/Boulevard Général Jacques and Chaussée de Wavre. Landmark for the Arsenal Site is Delvaux, the renowned Brussels manufacturer of handbags.
  %p There are a few parking spots available in the streets around the ICAB but we recommend to use public transportation in Brussels. There are different parkings around the city.

  %p ICAB nv | Rue des Pères blancs 4 | 1040 Bruxelles
  #map