%h1.giant.title Agile Tour Brussels 2013
.large.ribbon Practical details

%section#getting-there
  %br/
  %br/
  %h2 Getting to the EPHEC
  %h3 By train
  %p
    Merode station is at 14 min. distance by underground.
  %h3 By underground
  %p
    Line 1 direction Stockel; Stop Alma at 5 min. walking distance.
  %h3 By car
  %p
    The EPHEC is situated near the “Cliniques Universitaires Saint-Luc”.
  %h3 Parking
  %p If you come by car, a free parking is available (200 spots). There is also a possibility to park in the streets in the proximity.
  %p
    Just go to the EPHEC and watch the EPHEC PARKING -1 and -2.
    You will have to "ring" and tell that you are coming for Agile Tour Brussels.
    %br/
    Note that -2 is the biggest parking.
  %p (We still recommend to use public transportation in Brussels and to avoid using your car if possible).
  %h3 Address
  %p EPHEC Ecole Pratique des Hautes Etudes Commerciales  | Avenue Konrad Adenauer 3 | 1200 Woluwe-Saint-Lambert

#location
  #map


%section#staying
  :markdown
    ## Staying in Brussels
    ### Hotels in close proximity to the EPHEC

    * The closest hotel is [**The Best Western Premier Sodehotel**](http://www.premiersodehotellawoluwe.com/), La Woluwe

    ### Brussels airport hotels (Diegem, Corporate Village)
    * [NH Hotel](http://www.nh-hotels.com/nh/en/hotels/belgium/brussels/nh-brussels-airport.html)
    * [Thon Hotel](http://www.thonhotels.com/hotels/countrys/belgium/brussels/thon-hotel-brussels-airport/)
    * [Novotel](http://www.accorhotels.com/gb/hotel-0467-novotel-brussels-airport/index.shtml)
    * [Crowne Plaza](http://www.ihg.com/crowneplaza/hotels/us/en/brussels/bruzm/hoteldetail)

    ### Public transport from/ to the airport/ Diegem/ Corporate Village
    **Bus company De Lijn** operates bus services to the Brussels underground station **Roodebeek** (lines **359** and **659**).
    * When taking **line 659**, please get off at **SINT-STEVENS-WOLUWE HIPPOKRATES** bus stop.
    * When taking **line 359**, please get off at **WOLUWEDAL** bus stop

    ### Taxis

    There are plenty of taxis available at all major traffic junctions and near public institutions and major hotels. <br />
    Taxis also provide a rapid connection from and to the airport, see [irisnet.be](http://www.irisnet.be) and [biac.be](http://www.biac.be)
