%h1.giant.title Want to be a speaker ?
%p.center= link_to "Propose a session !", root_path


%h1.big.title Last year's speakers
%p.center= link_to "Agile Tour 2012 speakers list", speakers_path( year: 2012)

